<div class="card mt-4">
    <div class="card-body">
       <div class="input-group">
           <input type="text" placeholder="Agregar tarea" class="form-control form-control-lg " [(ngModel)]="tarea">
           <div class="input-group-append">
               <button type="button" class=" btn btn-success btn-lg" (click)="agregarTarea()" [disabled]="!tarea"> {{titulo}}</button>
           </div>
       </div>
       <br>
       <h5 *ngIf="lstareas.length == 0">No hay tareas para realizar</h5>
     
       <ul *ngIf="lstareas.length != 0" class="list-group">
           <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let tarea of lstareas; let i = index">
            <span class="cursor"  (click)="editarTarea(tarea, i)" [class.text-success]="tarea.finalizada">
                <i [ngClass]="tarea.finalizada ? 'fas fa-check-circle' : 'far fa-circle'" ></i>   
            </span>
                {{tarea.nombre}} 
                <span class="text-danger cursor"  (click)="eliminarTarea(i)"> 
                    <i class="far fa-trash-alt"></i>
                </span>
            </li>
       </ul>
    </div>
</div>
