<div class="card" *ngFor="let alumno of listAlumnos; let i = index">
    <div class="card-header text-center">
        {{alumno.nombre}}: {{alumno.estado}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 " >
                <button class="btn btn-danger  float-left"  (click)="updateAlumno(i,'No aprobado')" [ngClass]="{'btnEstado': alumno.estado=='No aprobado'}">No aprobado</button>
            </div>
            <div class=" col-xs-12 col-sm-12 col-md-4">
                <button class="btn btn-primary " (click)="updateAlumno(i, 'Aprobado')" [ngClass]="{'btnEstado': alumno.estado=='Aprobado'}">Aprobado</button>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-4">
                <button class="btn btn-success float-rigth " (click)="updateAlumno(i, 'Promocionado')" [ngClass]="{'btnEstado': alumno.estado=='Promocionado'}">Promocionado</button>
            </div>
        </div>
    </div>
</div>

