<app-count-empleados    [todos]="getEmpleados() "      
                        [masculino]= "getEmpleadoMasculino()" 
                        [femenino]="getEmpleadoFemenino()"  
                        (select)="getSeleccion($event)">
</app-count-empleados>
<div class="card">
    <div class="card-body">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>Legajo</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Género</th>
                    <th>Sueldo</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of listaEmpleados ">
                    <tr *ngIf="generoEmpleados == 'Todos' || item.genero == generoEmpleados">
                        <td>{{item.legajo}}</td>
                        <td>{{item.nombre}}</td>
                        <td>{{item.apellido}}</td>
                        <td>{{item.genero}}</td>
                        <td>{{item.sueldo}}</td>
                    </tr>
                </ng-container>   
            </tbody>
        </table>

    </div>
</div>