.btn-xl{
    background-color: #f05f44;
    border-color: #f05f44;
    padding: 1rem 2rem;
    border-radius: 300px;
    width: 90%;
    margin: 5px auto 10px
}

.cardInfo{
    width:auto; 
    max-width: 25rem;
    margin: 0 auto
}

.btn-xl:hover{
    background-color: #ee4b08;
    border-color: #ee4b08;
    border-width: 2px;
}
.btn-xl:active{
    background-color: #ee4b08;
}

img{
    background-size: cover;
}
.borde{   
    color: #ee4b08;
}